[submodule ".zsh/ohmyzsh"]
	path = .zsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "ohmyzsh-custom/git-prompt.zsh"]
	path = ohmyzsh-custom/git-prompt.zsh
	url = https://github.com/woefe/git-prompt.zsh.git
[submodule "ohmyzsh-custom/k"]
	path = ohmyzsh-custom/k
	url = https://github.com/supercrabtree/k.git
